body {
  margin: 0;
}

.login_form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outlined-required {
  width: 400px;
}

.login_button {
  float: right;
  height: 45px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
